html {
  background-color: rgb(43, 39, 39);
  color: red;
}

input {
  background-color: rgb(228, 228, 228);
}

.section-border {
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 0.25rem solid rgb(133, 31, 31);
}

#title-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.general-info-area {
  display: flex;
  justify-content: center;
}

.general-info-area > input {
  text-align: center;
}

.left-side {
  width: 40%;
}

.right-side {
  /* padding: 1rem; */
  width: 60%;
  border: 0.4rem solid red;
  /* background: linear-gradient(to bottom, rgb(0, 0, 0) 20%, transparent 20%); */
}

.right-side section {
  padding: 1rem;
}

.global-container {
  display: flex;
}